* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --wght-semi: 600;
  --wght-bold: 700;
  --wght-black: 900;

  --color-magenta: #b52184;
  --color-purple: #312d64;
  --color-white: #ffffff;

  --bg-gradient: linear-gradient(
    90deg,
    rgba(52, 49, 147, 1) 0%,
    rgba(48, 44, 99, 1) 100%
  );
  --bg-gradient-hover: linear-gradient(
    90deg,
    hsl(242, 50%, 46%) 0%,
    hsl(244, 38%, 36%) 100%
  );
}

body,
input,
textarea {
  font-family: "Mulish", sans-serif;
}

h1,
h2 {
  font-weight: var(--wght-black);
  color: var(--color-magenta);
}

p,
input,
textarea {
  font-weight: var(--wght-semi);
  color: var(--color-purple);
}

#hero {
  padding-bottom: 100px;
}

.hero {
  width: 100%;
}

.welcome {
  text-align: center;
}

h1 {
  font-size: 3.2rem;
  margin-bottom: 0.6rem;
}

.welcome p {
  font-size: 2rem;
  margin-bottom: 3.6rem;
}

#motivations {
  background: var(--bg-gradient);
  padding: 5.2rem 0;
}

#motivations img {
  width: 8rem;
  margin-bottom: 3.2rem;
}

#motivations h2 {
  margin-bottom: 2rem;
  font-size: 2.8rem;
}

#motivations p {
  font-size: 1.6rem;
}

#contact {
  padding: 7.8rem 0;
}

#contact h2 {
  font-size: 3.2rem;
  margin-bottom: 4.2rem;
}

#contact form {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.form-control label {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}

.form-control input,
.form-control textarea {
  width: 100%;
  padding: 1.6rem;
  border: 1.5px solid #312d64;
  border-radius: 0.6rem;
  font-size: 1.6rem;
  outline: none;
}

.form-control input::placeholder,
.form-control textarea::placeholder {
  color: var(--color-purple);
  opacity: 0.75;
}

.form-control input {
  padding-left: 5rem;
}

input#name {
  background: url(assets/person.svg) no-repeat 1.4rem;
}

input#email {
  background: url(assets/at.svg) no-repeat 1.6rem;
}

.form-control textarea {
  padding: 1.2rem 1.6rem;
  height: 12.6rem;
}

button {
  width: 15.2rem;
  height: 4.6rem;
  padding: 1rem 1.6rem;
  border-radius: 1.6rem;
  border: none;
  background: var(--bg-gradient);
  color: var(--color-white);
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: var(--wght-bold);
  align-self: start;

  transition: opacity 0.3s ease-in-out;
}

button:hover {
  opacity: 0.85;
}

footer {
  height: 7.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: var(--wght-semi);
  color: var(--color-white);
  background: var(--bg-gradient);
}

@media (min-width: 1024px) {
  .hero {
    max-width: 73.2rem;
  }

  .welcome {
    text-align: start;
    margin-top: 26.8rem;
  }

  h1 {
    font-size: 5.8rem;
    margin-bottom: 0.8rem;
  }

  .welcome p {
    font-size: 3.8rem;
    margin-bottom: 18rem;
  }

  #motivations {
    background: var(--bg-gradient);
    padding: 6.4rem 0;
  }

  #motivations img {
    width: 9.7rem;
    margin-bottom: 4rem;
  }

  #motivations h2 {
    margin-bottom: 2.4rem;
    font-size: 3.6rem;
  }

  #motivations p {
    font-size: 2rem;
  }

  #contact {
    padding: 9.6rem 0;
    background: url(assets/stars-bg.png) no-repeat right bottom;
  }

  #contact h2 {
    font-size: 4.2rem;
    margin-bottom: 3rem;
  }

  #contact form {
    width: 59.5rem;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }
}

/* Utils */

.card {
  background: var(--color-white);
  padding: 2.6rem;
  padding-right: 6rem;
  border-radius: 2rem;
}

.container {
  max-width: 36.4rem;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.gap-18 {
  gap: 1.8rem;
}

.gap-48 {
  gap: 4.8rem;
}

@media (min-width: 1024px) {
  .container {
    max-width: 80%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .gap-60 {
    gap: 6rem;
  }

  .items-stretch {
    align-items: stretch;
  }

  .row-reverse {
    flex-direction: row-reverse;
  }
}
